.input {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 1.8rem;
    padding: 0.8rem;
    color: var(--text-default);
    outline: none;
    border:  0.2rem solid transparent;
    border-bottom: 0.2rem solid var(--primary);
}

.input:focus {
    border-radius: 0.8rem;
    border: 0.2rem solid var(--text-default);
    transition: all 0.1s ease-in-out;
}